<h1>Feedback From</h1>
<p>Your opinion is very important to us!</p>
<p>Please,take two minutes to answer these short questions and help me to provide you with even more valuable information in our application</p>
<div class ="container">
    <form>  
        <div class="row">    
            <div class="col-1">    
                <label for="fname">First Name</label>
            </div>    
           
             <div class="col-2"> 
                <input type="text" id="fname" name="firstname" placeholder="Your name..">    
            </div>    
        </div>    

        <div class="row">    
            <div class="col-1">    
                <label for="lname">Last Name</label>    
            </div>

            <div class="col-2">    
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">    
            </div>    
        </div>    

        <div class="row">    
            <div class="col-1">    
                <label for="email">Mail Id</label>    
            </div>

            <div class="col-2">    
                <input type="email" id="email" name="mailid" placeholder="Your mail id..">    
            </div>    
        </div>    

        <div class="row">    
            <div class="col-1">    
                <label for="feed_back">Feed Back</label>    
            </div>  

            <div class="col-2">    
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>    
            </div>    
        </div>    

        <div class="row">    
            <input type="submit" value="Submit">    
        </div>   

    </form>    
</div>    
