<div class="card">
    <div class="card-body">
        <h5>Coming Now ... <span class="badge badge-secondary">New</span></h5>
 
    </div>
</div>

<select id="language" name="language">    
    <option value="none">Language</option>    
    <option value="english">English</option>    
    <option value="hindi">Hindi</option>    
    <option value="marathi">marathi</option>    
</select>    

<select id="category" name="category">    
    <option value="none">Category</option>    
    <option value="action">Action</option>    
    <option value="comedy">Comedy</option>    
    <option value="adventure">Adventure</option>
    <option value="horror">Horror</option>    
</select>    

<select id="quality" name="quality">    
    <option value="none">Quality</option>    
    <option value="sd">SD</option>    
    <option value="hd">HD</option>    
    <option value="full">Full HD</option>
</select>

<div class="container-fluid">
<div class="row">
    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/raya.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Raya and The Last Dragoan</h6>
            <p class="card-text">Cast : Kelly Marie Tran as Raya,Awkwafina as Sisu</p>
        </div>
  
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : English</li>
            <li class="list-group-item">Release Date : 5 March 2021</li>
            <li class="list-group-item">Duration : 2hr 40min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/jungle.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Jungle Cruise</h6>
            <p class="card-text">Cast : Dwayne Johnson and Francisco Lopez de Heredia</p>
        </div>
  
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : English</li>
            <li class="list-group-item">Release Date : July 24, 2021</li>
            <li class="list-group-item">Duration : 2h 7m</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/cruella.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Cruella</h6>
            <p class="card-text">Cast : Emma Stone, Emma Thompson, Joel Fry</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : English</li>
            <li class="list-group-item">Release Date : 26 May 2021</li>
            <li class="list-group-item">Duration : 2hr 14min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>   
    </div>
  
    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/maligant.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Maligant</h6>
            <p class="card-text">Cast : Annabelle Wallis, Maddie Hasson, George Youngmore</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : English</li>
            <li class="list-group-item">Release Date : 10 September 2021</li>
            <li class="list-group-item">Duration : 1h 51min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/castle.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : A Castle for Christmas</h6>
            <p class="card-text">Cast : Brooke Shields, Cary Elwes, Lee Ross, Andi Osho</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : English</li>
            <li class="list-group-item">Release Date : November 26, 2021</li>
            <li class="list-group-item">Duration : 1h 55min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>
  

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/roohi.png" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Roohi</h6>
            <p class="card-text">Cast : Rajkummar Rao , Janhvi Kapoor, Varun Sharma</p>
        </div>
      
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Hindi</li>
            <li class="list-group-item">Release Date : 11 Mar 2021</li>
            <li class="list-group-item">Duration : 2hr 14min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>
  
    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/satyamev.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Satyameva Jayate 2</h6>
            <p class="card-text">Cast : John Abraham, Divya Khosla Kumar</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Hindi</li>
            <li class="list-group-item">Release Date : 25 November 2021</li>
            <li class="list-group-item">Duration : 2h 30min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>
  
    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/antim.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Antim (The Final Truth)</h6>
            <p class="card-text">Cast : Salman Khan, Aayush Sharma, Mahima Makwana</p>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Hindi</li>
            <li class="list-group-item">Release Date : 26 November 2021</li>
            <li class="list-group-item">Duration : 2h 41min</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/Bhoot.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Bhoot Police</h6>
            <p class="card-text">Cast : Saif Ali Khan, Arjun Kapoor, Jacqueline Fernandez, Yami Gautam</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Hindi</li>
            <li class="list-group-item">Release Date : 10 September 2021</li>
            <li class="list-group-item">Duration : 2h 48m</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/shidhhat.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Shiddat</h6>
            <p class="card-text">Cast : Sunny Kaushal, Radhika Madan, Mohit Raina, Diana Penty</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Hindi</li>
            <li class="list-group-item">Release Date : 01 Oct 2021</li>
            <li class="list-group-item">Duration : 2h 30min.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>





    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/man.png" height="320px"alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Mann Fakiraa</h6>
            <p class="card-text">Cast : Mrunmayee Deshpande,Sayali Sanjeev,Ankit Mohan,Anjali Patil</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Marathi</li>
            <li class="list-group-item">Release Date : 14 February 2020</li>
            <li class="list-group-item">Duration : 2h 30min.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/panghrun.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Pangharun</h6>
            <p class="card-text">Cast : Amol Bavdekar, Gauri Ingavale, Vidyadhar Joshi, Rohit Phalke</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Marathi</li>
            <li class="list-group-item">Release Date : 18 February 2020</li>
            <li class="list-group-item">Duration : 2h 50min.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/befam.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Befaam</h6>
            <p class="card-text">Cast : Siddharth Chandekar, Sakhi Gokhale , Vidyadhar Joshi , Seema Deshmukh , Shashank Shende </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Marathi</li>
            <li class="list-group-item">Release Date : 26 February 2021</li>
            <li class="list-group-item">Duration : 2h 48min.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/Colorful.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Colorful</h6>
            <p class="card-text">Cast : Lalit Prabhakar, Sai Tamhankar, Tanvi Prakash Mundle Aadesh Salekar Suyog Gorhe Viraj Zunjarrao</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Marathi</li>
            <li class="list-group-item">Release Date :  July 2, 2021</li>
            <li class="list-group-item">Duration : 1h 58min.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

    <div class="card" class="card border-primary mb-3" style="width: 15rem;">
        <img class="card-img-top" src="./../assets/Images/zimma.png" height="320px" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Movie Name : Zimma</h6>
            <p class="card-text">Cast : Suhas Joshi, Kshitee Jog, Sonalee Kulkarni, Sayali Sanjeev, Nirmiti Sawant, Mrunmayee Godbole, Suchitra Bandekar and Siddharth Chandekar</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language : Marathi</li>
            <li class="list-group-item">Release Date :  23 April 2021</li>
            <li class="list-group-item">Duration : 2h 10m.</li>
            <a href="#" class="btn btn-primary">View Details</a>
        </ul>
    </div>

</div>
</div>
